{% extends "base.html" %} {% load static %} {% block content %}
<div class="content-body">
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="card gradient-1">
          <div class="card-body">
            <h3 class="card-title text-white">Siswa</h3>
            <div class="d-inline-block">
              <h1 class="text-white">{{ siswa }}</h1>
              <p class="text-white mb-0"></p>
            </div>
            <span class="float-right display-5 opacity-5"
              ><i class="fa fa-users"></i
            ></span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="card gradient-2">
          <div class="card-body">
            <h3 class="card-title text-white">Kelas</h3>
            <div class="d-inline-block">
              <h1 class="text-white">{{ kelas }}</h1>
              <p class="text-white mb-0"></p>
            </div>
            <span class="float-right display-5 opacity-5"
              ><i class="fa fa-school"></i
            ></span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="card gradient-3">
          <div class="card-body">
            <h3 class="card-title text-white">Petugas</h3>
            <div class="d-inline-block">
              <h1 class="text-white">{{ petugas }}</h1>
              <p class="text-white mb-0"></p>
            </div>
            <span class="float-right display-5 opacity-5"
              ><i class="fa fa-user"></i
            ></span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="card gradient-4">
          <div class="card-body">
            <h3 class="card-title text-white">Total Pembayaran</h3>
            <div class="d-inline-block">
              <h1 class="text-white">{{ pembayaran }}</h1>
              <p class="text-white mb-0"></p>
            </div>
            <span class="float-right display-5 opacity-5"
              ><i class="fa fa-money"></i
            ></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-3">Persentase Pembayaran</h4>
            <div id="flotPie1" class="flot-chart"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-3"></h4>
            <div id="flotBar1" class="flot-chart"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% block foto %}
<script>
  /**************** PIE CHART *******************/
  var piedata = [
    {
      label: "KMS",
      data: ["{{ kms }}"],
      color: "#FF7F00",
    },
    {
      label: "LKS",
      data: ["{{ lks }}"],
      color: "#2dce89",
    },
    {
      label: "Komputer",
      data: ["{{ komputer }}"],
      color: "#ff5e5e",
    },
  
  ];

  $.plot("#flotPie1", piedata, {
    series: {
      pie: {
        show: true,
        radius: 1,
        label: {
          show: true,
          radius: 2 / 3,
          formatter: labelFormatter,
          threshold: 0.1,
        },
      },
    },
    grid: {
      hoverable: true,
      clickable: true,
    },
  });

  $.plot("#flotPie2", piedata, {
    series: {
      pie: {
        show: true,
        radius: 1,
        innerRadius: 0.5,
        label: {
          show: true,
          radius: 2 / 3,
          formatter: labelFormatter,
          threshold: 0.1,
        },
      },
    },
    grid: {
      hoverable: true,
      clickable: true,
    },
  });

  function labelFormatter(label, series) {
    return (
      "<div style='font-size:8pt; text-align:center; padding:2px; color:white;'>" +
      label +
      "<br/>" +
      Math.round(series.percent) +
      "%</div>"
    );
  }
</script>
{% endblock foto %}
