{% extends "base.html" %} {% load widget_tweaks %} {% load static %} {% block content %}
<style>
  tbody {
    overflow-y: 0;
  }
</style>
<div class="content-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <a
                href="{% url 'create_kelas'  %}"
                type="button"
                class="btn btn-rounded btn-outline-secondary fa-fa fa-plus"
              >
                Tambah Posyandu
              </a>
            </div>

            {% if messages %}
            {%for pesan in messages %}
            <div class="alert alert-success alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button> {{ pesan }}
            </div>
            {% endfor %}
            {% endif %}

     
            <div class="table-responsive">
              <table id="data-tabel" class="table">
                <thead>
                  <tr>
                    <th>No</th>
                    <th>Nama Posyandu</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for kelas in kelas %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ kelas.nama_kelas }}</td>
                    <td>{{ kelas.status_kelas }}</td>
                    <td>
                      <a
                        class="btn btn-info btn-sm"
                        href="{% url 'update_kelas' kelas.id %}"
                        >Edit</a
                      >
                      <a
                        class="btn btn-danger btn-sm"
                        href="{% url 'delete_kelas' kelas.id %}"
                        >Hapus</a
                      >
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
