{% extends "base.html" %}
{% block content %}
<br>
<div class="content-body">
	<div class="container-fluid">
		 <div class="row justify-content-md-center">
			 <div class="col-md-8">
				 <div class="card card-body">
					 <p> Are you sure want to delete "{{ nama_siswa }}" ?</p>
						 <form action="" method="POST">
							 {% csrf_token %}
							 <br>
							 <a class="btn btn-warning" href="{% url 'pembayaran' %}" role="button">Cancel</a>
							 <button type="submit" class="btn btn-danger">Delete</button>
					 </form>
				 </div>
			 </div>
		 </div>
	</div>
</div>

{% endblock content %}
