{% extends "base.html" %} {% load widget_tweaks %} {% load static %} {% block content %}
<style>
  tbody {
    overflow-y: 0;
  }
</style>
<div class="content-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg">
        <div class="card">
        
          <div class="card-body">

            
            <div class="card-title">
              <a
                href="{% url 'create_pembayaran'  %}"
                type="button"
                class="btn btn-rounded btn-outline-secondary icon-note menu-icon"
              >
                Tambah Pembayaran
              </a>
            </div>

            {% if messages %}
            {%for pesan in messages %}
            <div class="alert alert-success alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button> {{ pesan }}
            </div>
            {% endfor %}
            {% endif %}

         
            <div class="table-responsive">
              <table id="data-tabel" class="table">

                <thead>
                  <tr>
                    <th>No</th>
                    <th>Nama Siswa</th>
                    <th>Pembayaran</th>
                    <th>Biaya</th>
                    <th>Kategori Pembayaran</th>
                    <th>Tanggal Pembayaran</th>
                    <th>Tahun</th>
                    <th>Keterangan</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for pembayaran in pembayaran %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ pembayaran.nama }}</td>
                    <td>Rp.{{ pembayaran.pembayaran }}</td>
                    <td>Rp.{{ pembayaran.biaya }}</td>
                    <td>{{ pembayaran.kategori }}</td>
                    <td>{{ pembayaran.tanggal }}</td>
                    <td>{{ pembayaran.tahun }}</td>
                    <td>{{ pembayaran.keterangan }}</td>
                    <td>
                      <a
                        class="btn btn-info btn-sm my-1"
                        href="{% url 'update_pembayaran' pembayaran.id %}"
                        >Edit</a
                      >
                      <a
                        class="btn btn-danger btn-sm my-1"
                        href="{% url 'delete_pembayaran' pembayaran.id %}"
                        >Hapus</a
                      >
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
