{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <a href="{% url 'create_rincian'  %}" type="button" class="btn btn-rounded btn-outline-secondary icon-note menu-icon"> Tambah Rincian Pembayaran</a>
                            <!-- <a id="btn" href="{% url 'export_xls'  %}" type="button" class="btn btn-success">Export excel</a> -->
                        </div>
                        {% if messages %}
                        {%for pesan in messages %}
                        <div class="alert alert-success alert-dismissible fade show">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                            </button> {{ pesan }}
                        </div>
                        {% endfor %}
                        {% endif %}
					 	
                        <div class="table-responsive">
                            <table id="data-tabel" class="table">
                                <thead>
                                    <tr>                 
                                        <th>No</th>
                                        <th>Foto</th>
                                        <th>Nama Siswa</th>
                                        <th>Alamat</th>
                                        <th>Kelas</th>
                                        <th>Kategori Pembayaran</th>
                                        <th>Tanggal Pembayaran</th>
                                        <th>Biaya</th>
                                        <th>Keterangan</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for pln in rincianpmb %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td><img src="{% static 'images/' %}{{pln.nama_siswa.foto}}" alt="" width="80"> </td>
                                            <td>{{ pln.nama_siswa }}</td>
                                            <td>{{ pln.nama_siswa.alamat }}</td>
                                            <td>{{ pln.kelas }}</td>
                                            <td>{{ pln.kategori }}</td>
                                            <td>{{ pln.tanggal }}</td>
                                            <td>{{ pln.biaya }}</td>
                                            <td>{{ pln.keterangan }}</td>
                                            <td>
                                                <a
                                                  class="btn btn-info btn-sm my-1"
                                                  href="{% url 'update_rincian' pln.id %}"
                                                  >Edit</a
                                                >
                                                <a
                                                  class="btn btn-danger btn-sm my-1"
                                                  href="{% url 'delete_rincian' pln.id %}"
                                                  >Hapus</a
                                                >
                                              </td>
                                        </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <!-- <ul class="pagination justify-content-center">
                                <li class="page-item {% if not previous %} disabled {% endif %}">
                                 <a class="page-link" href="{{ previous }}">Previous</a></li>
                                {% for n in halaman_pln.paginator.page_range %}
                                 {% if halaman_order_custumer.number == n %}
                                 <li class="page-item active" aria>
                                 <span class="page-link">{{ n }}<span class="sr-only">(current)</span>
                                 </span>
                                 </li>
                                 {% elif n > halaman_pln.number|add:-3 and n < halaman_pln.number|add:3 %}
                                 <li class="page-item"><a class="page-link" href="?halaman={{ n }}">{{ n }}</a></li>
                                 {% endif %}
                                {% endfor %}
                                <li class="page-item {% if not next %} disabled {% endif %}">
                                 <a class="page-link" href="{{ next }}">Next</a></li>
                            </ul> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}