{% extends "base.html" %} {% load widget_tweaks %} {% load static %} {% block content %}
<style>
  tbody {
    overflow-y: 0;
  }
</style>
<div class="content-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg">
        <div class="card">
        
          <div class="card-body">

            
            <div class="card-title">
              <a
                href="{% url 'create_siswa'  %}"
                type="button"
                class="btn btn-rounded btn-outline-secondary fa-fa fa-plus"
              >
                Tambah Anak
              </a>
            </div>
            
            {% if messages %}
            {%for pesan in messages %}
            <div class="alert alert-success alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button> {{ pesan }}
            </div>
            {% endfor %}
            {% endif %}

            <div class="table-responsive">
              <table id="data-tabel" class="table">
                <thead>
                  <tr>
                    <th>No</th>
                    <th>Nama</th>
                    <th>TTL</th>
                    <th>Jenis Kelamin</th>
                    <th>Berat Badan</th>
                    <th>Tinggi Badan</th>
                    <th>Tanggal Operasi</th>
                    <th>Indikator</th>
                    <th>Status</th>
                    <th>Posyandu</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for siswa in siswa %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ siswa.nama }}</td>
                    <td>{{ siswa.ttl }}</td>
                    <td>{% if siswa.jenis_kelamin == 'L' %}Laki-Laki{% else %}Perempuan{% endif %}</td>
                    <td>{{ siswa.berat_badan }}</td>
                    <td>{{ siswa.tinggi_badan }}</td>
                    <td>{{ siswa.tanggal_operasi }}</td>
                    <td>{{ siswa.indikator }}</td>
                    <td>{{ siswa.status }}</td>
                    <td>{{ siswa.posyandu }}</td>
                    <!-- <td>
                      <img
                        src="{% static 'images/' %}{{siswa.foto.url}}"
                        alt="Foto Siswa"
                        height="50"
                      />
                    </td> -->
                    <td>
                      <a
                        class="btn btn-info btn-sm my-1"
                        href="{% url 'update_siswa' siswa.id %}"
                        >Edit</a
                      >
                      <a
                        class="btn btn-danger btn-sm my-1"
                        href="{% url 'delete_siswa' siswa.id %}"
                        >Hapus</a
                      >
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
