<div class="nk-sidebar">
  <div class="nk-nav-scroll">
    <ul class="metismenu" id="menu">
      <li class="nav-label">Menu</li>
      <li>
        <h4>
          <a
            class="nav-link {% if menu == 'beranda' %} active {% endif %}"
            href="{% url 'beranda' %}"
            aria-expanded="false"
          >
            <i class="icon-speedometer menu-icon"></i
            ><span class="nav-text">Home</span>
          </a>
        </h4>
      </li>
      <li>
        <h4>
          <a
            class="nav-link {% if menu == 'pengurus' %} active {% endif %}"
            href="{% url 'pengurus' %}"
            aria-expanded="false"
          >
            <i class="icon-user menu-icon"></i
            ><span class="nav-text">Petugas</span>
          </a>
        </h4>
      </li>
      <li>
        <h4>
          <a
            class="nav-link {% if menu == 'kelas' %} active {% endif %}"
            href="{% url 'kelas' %}"
            aria-expanded="false"
          >
            <i class="icon-note menu-icon"></i
            ><span class="nav-text">Data Kelas</span>
          </a>
        </h4>
      </li>
      <li>
        <h4>
          <a
            class="nav-link {% if menu == 'siswa' %} active {% endif %}"
            href="{% url 'siswa' %}"
            aria-expanded="false"
          >
            <i class="icon-user menu-icon"></i
            ><span class="nav-text">Data Siswa</span>
          </a>
        </h4>
      </li>
    
      <li>
        <h4>
          <a
            class="nav-link {% if menu == 'pelanggaran' %} active {% endif %}"
            href="{% url 'pelanggaran' %}"
            aria-expanded="false"
          >
            <i class="icon-note menu-icon"></i
            ><span class="nav-text">Pelanggaran</span>
          </a>
        </h4>
      </li>
      <li>
        <h4>
          <a
            class="nav-link {% if menu == 'laporan' %} active {% endif %}"
            href="{% url 'laporan' %}"
            aria-expanded="false"
          >
            <i class="icon-note menu-icon"></i
            ><span class="nav-text">Laporan</span>
          </a>
        </h4>
      </li>
    </ul>
  </div>
</div>
